@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    /*background: #0987db;*/
  }

  .Login form {
    margin: auto;
    max-width: 320px;
  }
}

.Login-item {
  padding-right: 30px;
}
