.Product-container {
  align-self: start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 5rem calc((100vw - 1300px) / 2);
  /* background: #0987db; */
  color: #000000;
}

.Product-Card {
  margin: 0 2rem;
  line-height: 2;
  width: 300px;
}
.Product-Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.Product-Image {
  height: 300px;
  min-width: 300px;
  max-width: 100%;
  box-shadow: 8px 8px #fdc500;
}

.ProductsHeading {
  font-size: clamp(2rem, 2.5vw, 3rem);
  text-align: center;
  margin-bottom: 5rem;
}

.ProductTitle {
  font-weight: 400;
  font-size: 1.5rem;
}

.ProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}
.ProductDesc {
  margin-bottom: 1rem;
}

.ProductPrice {
  margin-bottom: 1rem;
  font-size: 2rem;
}
